.formWrapper > button {
  cursor: pointer;
}

.school-preview {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 50px;
  max-height: 150px;

  margin-top: 20px;

  padding: 10px 20px 10px 20px;

  border-radius: 10px;

  background-color: white;

  overflow-y: auto;
}

.individual-school-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;

  font-size: 0.8rem;
}

.individual-school-preview > button {
  cursor: pointer;

  border: none;
  background: none;
}

.individual-school-preview > button > .fa {
  font-size: 0.8rem;

  color: red;
}
