:root {
  --primary-color-800: #c29b88;
  --primary-color-600: #ebd9ca;
  --primary-color-500: #f3e3d2;
  --primary-color-400: #fcf9f2;

  --secondary-color-400: #d2bfa1;

  --text-primary-color-400: #5f4a3f;
  --text-primary-color-300: #816759;
  --text-primary-color-200: #bbb0a7;
}

.formWrapper > h5 {
  margin-top: 20px;
}

.formInputs > .formInput {
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}

.formInput > label {
  font-size: 1rem;
}

.formInput > input {
  display: flex;

  height: 40px;

  font-size: 1rem;

  padding: 10px;

  border-radius: 5px;
  border: 1px solid var(--primary-color-800);

  color: var(--text-primary-color-200);

  margin-top: 0;
}
